[submodule "static/assets/preview/official"]
	path = static/assets/preview/official
	url = https://gitlab.com/todoelrock/erdtv-catalogo
[submodule "static/assets/preview/customs"]
	path = static/assets/preview/customs
	url = https://gitlab.com/todoelrock/erdtv-catalogo-customs
